# Pipeline

## The notebook is running in the container

In [1]:
import sqlite3
import pandas as pd
import numpy as np

### 1. In Component [2] Task 2.A, you developed a script that conditionally decompressed the database and moved it to a new location. In this jupyter notebook, execute that script and demonstrate how it works.

#### *Note: download_dataset.sh is the bash script that optionally download md5, move and decompress soccer.zip

In [2]:
!tree

.
├── BIOS821_Final_Project-2.pdf
├── download_dataset
│   ├── download_dataset.sh
│   └── soccer.zip
├── geocoder
│   ├── create_latlong.py
│   ├── __init__.py
│   └── __pycache__
│       ├── create_latlong.cpython-37.pyc
│       └── __init__.cpython-37.pyc
├── pipeline.ipynb
└── README.md

3 directories, 9 files

In [27]:
%%bash
pwd

/home/jovyan/work/Documents/2019_Fall/biostat_821/HW/biosta821

In [31]:
%%bash
./download_dataset/download_dataset.sh ./md5 ./data ./data/unziped

File does not exits, now continue to download md5 and save it under the 1st input file path
md5 download completed
md5fromfile is
md5 is bb8c8ab9ca96931688ccf0ea2d21cfc9
md5sum does not match, exit the process

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:09 --:--:--     0curl: (6) Could not resolve host: gitlab.oit.duke.edu

CalledProcessError: Command 'b'./download_dataset/download_dataset.sh ./md5 ./data ./data/unziped\n'' returned non-zero exit status 4.

In [4]:
%%bash
./download_dataset/download_dataset.sh ./download_dataset ./download_dataset ./download_dataset/data

File does not exits, now continue to download md5 and save it under the 1st input file path
md5 download completed
md5fromfile is bb8c8ab9ca96931688ccf0ea2d21cfc9
md5 is bb8c8ab9ca96931688ccf0ea2d21cfc9
md5 and md5fromfile matches
soccer.zip exists under the 2nd input file path and create a new folder called data under the path
move soccer.zip to the new folder
decompress soccer.zip
Archive:  ./download_dataset/data/soccer.zip
  inflating: database.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    45  100    45    0     0    106      0 --:--:-- --:--:-- --:--:--   106

#### Process explaination:
0. I manually downloaded the database and saved it under this path: "./download_dataset".
1. 1st positional parameter is the path for the folder which has the downloaded database: "./download_dataset". If and only if it does not exist the md5 file, it will download the md5 file from webpage.
2. 2nd positional parameter is the same as above: "./download_dataset". If md5 file matches md5sum of soccer.zip, then it will create a folder "data" under "./download_dataset". And move soccer.zip to "./download_dataset/data".
3. 3nd positional parameter is: "./download_dataset/data". After moving the database inside, it will decompress it in this folder.

In [5]:
%%bash
sqlite3 database.sqlite
.table

Country            Match              Player_Attributes  Team_Attributes
League             Player             Team

In [6]:
!tree

.
├── BIOS821_Final_Project-2.pdf
├── database.sqlite
├── download_dataset
│   ├── data
│   │   └── soccer.zip
│   ├── download_dataset.sh
│   └── esdb.md5
├── geocoder
│   ├── create_latlong.py
│   ├── __init__.py
│   └── __pycache__
│       ├── create_latlong.cpython-37.pyc
│       └── __init__.cpython-37.pyc
├── pipeline.ipynb
└── README.md

4 directories, 11 files

### 2. Utilize the package that you developed in Component [3]. By executing this code you will be adding a new table to your database.

In [7]:
#a demonstrate files and api of package "geocoder"

In [8]:
%%bash
cd geocoder
tree .

.
├── create_latlong.py
├── __init__.py
└── __pycache__
    ├── create_latlong.cpython-37.pyc
    └── __init__.cpython-37.pyc

1 directory, 4 files

In [9]:
import pprint
import geocoder
pprint.pprint(dir(geocoder))

['Country',
 'Country_latlong',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'create_latlong']

In [10]:
#Class 
from geocoder import Country
pprint.pprint(dir(Country))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_coordinate',
 'lat',
 'long']

In [11]:
#method in class "Country"
help(Country.get_coordinate)

Help on function get_coordinate in module geocoder.create_latlong:

get_coordinate(self, country)
    :param country (string)
    :return: coordinate [x, y]. x is the latitude and y is the longitude.

    This function will return coordinate of the input country.

In [12]:
#Class
from geocoder import Country_latlong
pprint.pprint(dir(Country_latlong))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'create_table',
 'get_coordinate',
 'lat',
 'long']

In [13]:
#method in class Country_latlong
help(Country_latlong.create_table)

Help on function create_table in module geocoder.create_latlong:

create_table(self)
    :return: a table has 5 columns id, country_id, country_name, lat, and long.

In [14]:
#import package "geocoder" and use it to create "latlong" table

In [15]:
%%bash
sqlite3 database.sqlite
.table

Country            Match              Player_Attributes  Team_Attributes
League             Player             Team

In [16]:
from geocoder import Country_latlong

In [17]:
#initiate an test instance
test_instance = Country_latlong()

In [18]:
#use create_table method of class Country_latlong
test_instance.create_table()

In [19]:
%%bash
sqlite3 database.sqlite
.table

Country            Match              Player_Attributes  Team_Attributes
League             Player             Team               latlong

In [20]:
%%bash
sqlite3 database.sqlite 'select * from latlong;'

0|1|Belgium|5.0|51.0
1|1729|England|-0.11667|51.5
2|4769|France|2.0|47.0
3|7809|Germany|10.0|51.0
4|10257|Italy|12.0|43.0
5|13274|Netherlands|5.55|52.31667
6|15722|Poland|19.0|52.0
7|17642|Portugal|-9.18333|38.7
8|19694|Scotland|-5.0|57.0
9|21518|Spain|-3.0|40.0
10|24558|Switzerland|8.23197|46.79856

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory

### 3. Recall that a goal of this project is to build a working analytic data set that could be used to create a descriptive figure to visualize trends in the data. Suppose you wanted to display the average number of goals scored per season for each country using a line plot (i.e., each country’s trajectory would be represented as a line in the figure where the y-axis is the average and the x-axis is the season). Complete the task below to create a data set that would support the creation of this figure. You do NOT need to generate a figure.
> a. Derive a sql query that returns a data set that contains a column for country, a column for season, and a column for average number of goals scored per game for each country-season combination.

In [21]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///database.sqlite')
   
df = pd.read_sql("""SELECT c.name as country, m.season as season, avg(m.home_team_goal + m.away_team_goal) as avg_goal FROM Match as m LEFT JOIN Country as c ON c.id = m.country_id GROUP BY country, season""", engine)

In [22]:
df.head(10)

   country     season  avg_goal
0  Belgium  2008/2009  2.794118
1  Belgium  2009/2010  2.690476
2  Belgium  2010/2011  2.645833
3  Belgium  2011/2012  2.879167
4  Belgium  2012/2013  2.929167
5  Belgium  2013/2014  2.500000
6  Belgium  2014/2015  2.783333
7  Belgium  2015/2016  2.891667
8  England  2008/2009  2.478947
9  England  2009/2010  2.771053

### 4. Using the data set built in the previous task, use pandas to:
> a. Create a new feature called good_season that takes the value 1 if the average number
 scored per game in a given season is greater than 2.75. 
 
> b. Create a summary data frame that displays the number of “good seasons” for each country.

In [23]:
#a
df2 = df.copy()
df2['good_reason'] =  np.where(df2['avg_goal'] > 2.75, 1, 0)
df2.head(3)

   country     season  avg_goal  good_reason
0  Belgium  2008/2009  2.794118            1
1  Belgium  2009/2010  2.690476            0
2  Belgium  2010/2011  2.645833            0

In [24]:
#b
df_grouped = df2.groupby('country')['good_reason'].agg(['sum'])
df_grouped

             sum
country
Belgium        5
England        5
France         0
Germany        8
Italy          0
Netherlands    8
Poland         0
Portugal       1
Scotland       1
Spain          3
Switzerland    6